<?xml version="1.0" encoding="utf-8"?>

<init>
    <window>
        <title>Sandbox</title>
        <showTriangles>0</showTriangles>
        <compatibleProfile>0</compatibleProfile>
        <debugContext>1</debugContext>
        <antialiasing>1</antialiasing>
        <faceCulling>0</faceCulling>
        <frustumCulling>0</frustumCulling>
        <printFrameRate>0</printFrameRate>
        <glMajor>3</glMajor>
        <glMinor>3</glMinor>
    </window>
    <projection>
        <fovDeg>70.0</fovDeg>
        <width>1024</width>
        <height>768</height>
        <near>0.1</near>
        <far>5000.0</far>
    </projection>
    <platform>
        <linux>
          <path>/home/steffen/Dev/SgOgl/Sandbox/</path>
        </linux>
    </platform>
</init>
